* {
  box-sizing: border-box;
}

body {
  font-family: $heading-font;
  background: $background;
  color: $foreground;
  margin: 0;
  width: 100vw;
  height: 100vh;
}

h1 {
  font-size: $font-size-large;
  font-weight: 700;
  margin-top: 0;
}

h2 {
  font-size: $font-size-medium;
}

p {
  font-size: $font-size-regular;
}

a {
  display: inline-block;
  color: inherit;
  font-family: $body-font;
}
  
button, .button-link, #call-to-action {
  outline: none;
  display: block;
  width: 100%;
  max-width: 300px;
  height: 60px;
  padding: 12px 0;
  font-size: $font-size-medium;
  font-family: $body-font;
  font-weight: 600;
  text-align: center;
  border: 3px solid $foreground;
  color: $foreground;
  background: none;
  
  &:hover, &.selected {
    background: $highlight;
    border: none;
    padding: 15px 0;
    box-shadow: 4px 4px $highlight-shadow;
  }

  &:active {
    background: $highlight-shadow;
    box-shadow: 4px 4px $highlight;
  }

  &.disabled {
    background: none;
    border: 3px solid $grey;
    color: $grey;
    box-shadow: none;
    padding: 12px 0;
  }
}

