* {
  box-sizing: border-box;
}

a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
}

button {
  outline: none;
  color: #111;

  &.selected {
    background: blue;
    color: white;
  }

  &.disabled {
    cursor: auto;
    border-color: #999;
    color: #999;
  }
}